@font-face {
  @font-face {
    font-family: 'Century Gothic Regular';
    src: url('CenturyGothic.eot');
    src: url('CenturyGothic.eot?#iefix') format('embedded-opentype'),
      url('CenturyGothic.woff') format('woff'),
      url('CenturyGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
}

.title {
  color: #141518;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.after-title {
  color: #3c4049;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.44;
  margin: 0;
}
