<section id="section" class="about">
  <div class="about-wrap">
    <div class="about-title">
      <h2 class="about-title--text title">Переваги роботи з нами</h2>
      <p class="about-afterTitle--text after-title">
        Якщо ти вагаєшся чи працювати з нами, то давай ми<br />
        розповімо про наші сильні сторони
      </p>
    </div>
    <div class="about-description">
      <ul class="about-list"></ul>
      <div class="about-images">
        <div class="about-pen">
          <img src="./images/about-us/pen.png" alt="pen" />
        </div>
        <div class="about-clipboard">
          <img src="./images/about-us/clipboard.png" alt="clipboard" />
        </div>
        <p class="about-images--text">
          Офіційний талон з голограмою на 15 років гарантії
        </p>
      </div>
    </div>
  </div>
</section>
