<section id="section" class="choice">
  <div class="choice-info">
    <h2 class="choice-title">Складно обрати колір?</h2>
    <p class="choice-text">
      Боїшся помилитись з вітдтінком стелі? Не знаєш, що саме буде гармонійно
      вписуватись в загальну атмосферу?<br />
      <br />
      Ми допоможемо тобі у виборі.
      <span
        ><button type="button" class="choice-text--btn">
          Наш каталог
        </button></span
      >
      надасть розуміння про вибір кольорів
    </p>
  </div>
  <div class="choice-btn">
    <button type="button" class="choice-btn--style choice-text">
      Завантажити PDF
    </button>
  </div>
</section>
