<footer id="footer" class="footer">
  <div class="footer-logo">
    <a href="/">
      <img src="./images/common/logo.svg" alt="logo" />
    </a>
  </div>
  <ul class="footer-list">
    <li class="footer-item">
      <h3 class="footer-item--title">Компанія</h3>
      <ul class="company-list"></ul>
    </li>
    <li class="footer-item">
      <h3 class="footer-item--title">Клієнтам</h3>
      <ul class="clients-list"></ul>
    </li>
    <li class="footer-item">
      <h3 class="footer-item--title">Контактна інформація</h3>
      <ul class="contact-list">
        <li>
          <a
            href="mailto:seven7@gmail?subject = Feedback&body = Message"
            class=""
            >seven7@gmail</a
          >
        </li>
        <li>
          <a href="tel:+380964544444" class="">+38 096 454 44 44</a>
        </li>
      </ul>
    </li>
    <li class="footer-item">
      <h3 class="footer-item--title">Ми в соцмережах:</h3>
      <ul class="social-list"></ul>
    </li>
  </ul>
</footer>
