<section id="section" class="main">
  <ul class="mainLines-list">
    <li class="mainLines-item"></li>
    <li class="mainLines-item"></li>
    <li class="mainLines-item"></li>
    <li class="mainLines-item"></li>
  </ul>
  <div class="main-container">
    <div class="main-title">
      <h1 class="main-title--style">
        Натяжні стелі високої якості<br />
        від виробника
      </h1>
    </div>
    <div class="main-text">
      <p class="main-text--style">
        Привіт. Ми арт-студія Seven. Ми створимо гарний та практичний<br />
        варіант натяжної стелі для твого інтер’єру.
      </p>
    </div>
    <div class="main-btn">
      <div class="main-btn--image">
        <img
          src="./images/main/phone.svg"
          alt="phone"
          class="main-btn--phone"
        />
      </div>
      <button type="button" class="main-btn--style">
        <p class="main-btn--text">Залишити заявку</p>
      </button>
    </div>
  </div>
</section>
