<section id="section" class="main">
  <div class="main-container">
    <ul class="mainLines-list">
      <li class="mainLines-item"></li>
      <li class="mainLines-item"></li>
      <li class="mainLines-item"></li>
    </ul>
    <div class="main-title">
      <h1 class="main-title--style">
        Натяжні стелі високої якості від виробника
      </h1>
    </div>
    <div class="main-text">
      <p class="main-text--style">
        Привіт. Ми арт-студія Seven. Ми створимо гарний та практичний варіант
        натяжної стелі для твого інтер’єру.
      </p>
    </div>
  </div>
</section>
