<section id="section" class="reviews">
  <div class="reviews-wrap">
    <div class="rev-sliderWrap">
      <div class="swiper sample-slider rev-slider">
        <div class="swiper-wrapper">
          <!-- REVIEWS LIST -->
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev">
          <img src="./images/reviews/arrow-left.svg" alt="arrow-left" />
        </div>
        <div class="swiper-button-next">
          <img src="./images/reviews/arrow-right.svg" alt="arrow-right" />
        </div>
      </div>
    </div>

    <div class="rev-title">
      <h1 class="title rev-title--style">
        Ми сподіваємось твій відгук скоро також буде тут
      </h1>
    </div>
  </div>
</section>
